@font-face {
    font-family: casino_text_font;
    src: url('fonts/Gilroy/Gilroy-Thin.otf');
}

.h1-test {
    font-size: 25px;
    text-align: center;
    font-family: casino_text_font;
}

.block_font_image {
	margin: 10px 30px 5px 0px;
	overflow: hidden;
	min-height: 200px;
    height: 300px
}

.font_image{
    max-width: 100%;
}

