@font-face {
    font-family: Gilroy-Medium;
    src: url('fonts/Gilroy/Gilroy-Medium.otf');
}

div.roulette {
	margin-top: 35px;
    transform: rotate(360deg);

}
div.roulette-inner {
	left : 33px;
}

div.roulette {
}

div.roulette_container {
	background-color:#18191B;
	width:200px;
	height:200px;
	border:1px solid rgba(253, 252, 253, 0.31);
    border-radius: 12px;
	box-shadow:0px 0px 3px lightpink;margin:auto;
    margin
}

.btn_container {
	text-align:center;
    margin-bottom: 40px;
}


.btn_container .start {
    margin-right: 20px;
    width: 250px;
    margin-top: 0px;
}

.glow-button {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
}
.glow-button:hover {
    box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
    color: #F137A6;
}

.roulette-block{
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-flex;
    background-color: #18191B;
    border-radius: 12px;
}

img.rot {
    animation: 3s ease-in 0s normal none infinite running rot;
    -webkit-animation: 1s linear 0s normal none infinite running rot;
    animation-timing-function: steps(8, end);

}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.main-text {
    font-size: 20px;
    color: #c0c0c0;
    font-family: Gilroy-Medium;
    margin-top: 30px;
}

.main-text-block {
    font-size: 20px;
    color: #c0c0c0;
    font-family: Gilroy-Medium;
    margin-top: 10px;
}

.h4-block-index {
    margin-top: 20px;
    font-size: 30px;
    font-family: Gilroy-Medium;
}

.space-between-block {
    margin: 20px 0px 30px 0px;
}

.details_p_text{
    margin-top: 15px;
}

@media (max-width:767px){
    .block_font_image{
        max-width: 100%;
        height: 50%;
        text-align: center;
        padding: 0px 0px 10px 20px;
        margin-bottom: 20px;
    }

    .font_image {
        max-width: 100%;
    }

    .text-style-block {
        flex: 1;
        background-color: #18191B;
        border-radius: 12px;
        padding: 20px 30px;
        margin-bottom: 0px;
    }

    .text-style-last-block{
        margin-bottom: 20px;
    }

    .details_p_text{
        margin-top: 15px;
    }

    .color-h1{
        font-size: 21px;
        text-align: center;
    }

    .main-text {
        font-size: 15px;
        color: #c0c0c0;
        font-family: Gilroy-Medium;
        margin-top: 30px;
    }

    .main-text-block {
        font-size: 15px;
        color: #c0c0c0;
        font-family: Gilroy-Medium;
        margin-top: 10px;
    }

    .h4-block-index {
        margin-top: 20px;
        font-size: 17px;
        font-family: Gilroy-Medium;
    }
}

@media (min-width: 768px) and (max-width:950px){
    .block_font_image {
        max-width: 100%;
        height: 50%;
        text-align: center;
        padding: 0px 0px 10px 20px;
        margin-bottom: 20px;
    }

    .font_image{
        max-width: 100%;
    }

    .text-style-block {
        flex: 1;
        background-color: #18191B;
        border-radius: 12px;
        padding: 45px 55px;
        margin-left: 20px;
    }

    .text-style-last-block{
        margin-bottom: 20px;
    }

    .details_p_text{
        margin-top: 15px;
    }

    .color-h1{
        font-size: 20px;
        text-align: center;
    }

    .main-text {
        font-size: 14px;
        color: #c0c0c0;
        font-family: Gilroy-Medium;
        margin-top: 30px;
    }

    .main-text-block {
        font-size: 14px;
        color: #c0c0c0;
        font-family: Gilroy-Medium;
        margin-top: 10px;
    }

    .h4-block-index {
        margin-top: 20px;
        font-size: 16px;
        font-family: Gilroy-Medium;
    }
}