*,*:before,*:after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

@font-face {
    font-family: Gilroy-LightItalic;
    src: url('fonts/Gilroy/Gilroy-Medium.otf');
}

html, body {
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
}

.container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #18191B;
    z-index: 2;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header__logo {
    flex: 0 0 300px;
    position: relative;
    z-index: 3;
    padding: 30px 20px 50px 10px;
}

@media (max-width:940px){
    .header__logo{
        flex: 0 0 200px;
    }
}

.header__logo img {
    max-width: 100%;
    display: block;
}

.header__list{
    display: flex;
    position: relative;
    z-index: 2;
}

.header__list li{
    list-style: none;
    margin: 0px 0px 0px 20px;
}

.header__link {
    color: #c0c0c0;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Gilroy-LightItalic;
    text-decoration: none;
}

.header__link a:hover {
    color: #EF5A42;
}

.header__burger {
    display: none;
}

@media (max-width:767px){
    body.lock {
        overflow: hidden;
    }

    .header__body {
        height: 50px;
    }

    .header__logo {
        flex: 0 0 200px;
        padding: 8px 0px 10px 0px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }

    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform:rotate(-45deg);
        bottom: 9px;
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #18b5a4;
        padding: 70px 10px 20px 10px;
    }
    .header__menu.active {
        top: 0;
        transition: all 0.3s ease 0s;
    }

    .header__list {
        display: block;
    }

    .header__list li{
        margin: 0px 0px 20px 0px;
    }
}

.content {
    padding: 100px 0px 0px 0px;
}

@media (max-width: 767px) {
    .content{
        padding: 70px 0px 0px 0px;
    }
}

.footer {
    display: flex;
    background-color: black;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    border-top: 1px solid white;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: darkgrey;
    font-size: 14px;
    margin:auto;
}

.text-style-last-block{
    margin-bottom: 60px;
}