*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
    /* плавность переходов для всех элементов страницы */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display';
    font-weight: normal;
    letter-spacing: 1px;
}

body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #373737;
    background: #f7f7f7;
}

header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200;
    padding: 0 15px;
}

header {
    width: 100%;
    background: white;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
    padding: 15px 0;
    margin-bottom: 30px;
    position: relative;
}

.logo {
    display: block;
    float: left;
}

.logo span {
    color: white;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin: 5px 0;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.logo span:nth-child(odd) {
    background: #EF5A42;
}

.logo span:nth-child(even) {
    background: #F8B763;
}

#menu {
    float: right;
}

#menu li {
    display: inline-block;
    margin-right: 30px;
}

#menu a {
    color: #111;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    display: block;
    line-height: 40px;
}

#menu a:hover {
    color: #EF5A42;
}

#menu li:last-child {
   margin-right: 0;
}

.nav-toggle {
    display: none;
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background: #EF5A42;
    cursor: pointer;
}

.nav-toggle span {
   display: block;
   position: absolute;
   top: 19px;
   left: 8px;
   right: 8px;
   height: 2px;
   background: white;
}
.nav-toggle span:before, .nav-toggle span:after {
   content: "";
   position: absolute;
   display: block;
   left: 0;
   width: 100%;
   height: 2px;
   background: white;
}
.nav-toggle span:before {
   top: -10px;
}
.nav-toggle span:after {
   bottom: -10px;
}

#menu.active {
   max-height: 123px;
}

footer {
   padding: 30px 0;
   background: #3C3D41;
   color: white;
}
.footer-col {
   width: 33.3333333333%;
   float: left;
}
.footer-col a {
   color: white;
}
.footer-col:last-child {
   text-align: right;
}
.social-bar-wrap {
   text-align: center;
}
.social-bar-wrap a {
   padding: 0 7px;
   font-size: 18px;
}

@media (max-width: 768px) {
    .nav-toggle{
        display: block;
    }
    header {
        padding: 10px 0;
    }

    #menu {
        max-height: 0;
        background: white;
        float: none;
        position: absolute;
        overflow: hidden;
        top: 63px;
        right: 0;
        left: 0;
        margin: 0;
        padding: 0;
        z-index: 3;
    }

    #menu li {
        display: block;
        text-align: center;
        border-bottom: 1px solid #EBEBE3;
        margin-right: 0;
    }

    @media (max-width: 480px) {
        .logo {
            float: none;
            margin: 0 auto 0px;
            display: table;
        }

        .logo span {
            margin: 0 2px;
        }

        #menu {
            top: 118px;
        }

        .post-footer {
            border-top: none;
            border-bottom: none;
            text-align: center;
        }

        .post-social {
            position: static;
            text-align: center;
            transform: none;
            margin-top: 20px;
        }
        .widget-post-title {
            font-size: 1.2em;
        }

        .footer-col {
            float: none;
            margin-bottom: 20px;
            width: 100%;
            text-align: center;
        }
        .footer-col:last-child {
            text-align: center;
            margin-bottom: 0;
        }

    }
}

.container {
  position: left;
  width: 100%;
  overflow: hidden;
  padding-top: 0%; /* 16:9 Aspect Ratio */
}