{% extends "layout.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row space-me">
        <div class="col-md-3 block_font_image" >
            <img class="text__image" src="{{ url_for('static', filename='images/pattern2.png') }}" alt="CYBER SLOTS">
        </div>
        <div class="col-md-9 description_font">
            <h2 class="color-h">{{ _('Про компанію') }}</h2>
            <p class="body__text">
            {{ _('ТОВ “Мультігеймпгрупп” — компанія-резидент України, створена
                командою із більш ніж 15-тирічним досвідом організації, управління
                та проведення азартних ігор на території України та за її межами. Після вступу у дію Закону України
                «Про державне регулювання діяльності щодо організації та проведення азартних ігор», під брендом CYBER SLOTS
                компанія розвиває власну мережу ігрових закладів в містах України та готує до запуску одноіменний
                онлайн-проект. Ми любимо гру за емоції, які вона дарує людям.
                За азарт, свободу, непередбачуваність, виграші та програші. Мизнаємо,
                що гра на гроші робить всі ці відчуття гостріше, але ми так само знаємо,
                що гра тільки заради грошей робить саму гру безглуздою. ') }}
            </p>
        </div>
    </div>
    <div class="row space-me">
        <div class="col-md-3 block_font_image" >
            <img class="text__image" src="{{ url_for('static', filename='images/pattern5.png') }}" alt="CYBER SLOTS">
        </div>
        <div class="col-md-9 description_font">
            <h2 class="color-h">{{ _('Географія') }}</h2>
            <p class="body__text">
            {{ _('Компанія уклала договори на відкриття гральних закладів в Києві, Одесі, Львові, Черкасах,
                Хмельницькому, Херсоні та Рівному. ') }}
            </p>
        </div>
    </div>
    <div class="row space-me">
        <div class="col-md-3 block_font_image" >
            <img class="text__image" src="{{ url_for('static', filename='images/pattern1.png') }}" alt="CYBER SLOTS">
        </div>
        <div class="col-md-9 description_font">
            <h2 class="color-h">{{ _('Наша місія') }}</h2>
            <p class="body__text">
            {{ _('Наша місія — зробити гральний бізнес суспільною нормою. Ми йдемо до того,
                щоб зробити казино ще одним способом дозвілля, розширити кругозір людей і
                показати багатогранність вибору.

                Ігри виконують важливу функцію в суспільстві, даючи можливість легітимного виходу емоцій за межі
                повсякденної рутини та порядку. Ми дозволяємо гравцям випробувати весь спектр емоцій,
                які може запропонувати сама гра.') }}
            </p>
        </div>
    </div>
</div>
{% endblock %}