{% extends "layout.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='contacts.css') }}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row space-address">
        <div class="col-md-2 font_image">
            <img src="{{ url_for('static', filename='images/pattern5.png') }}" alt="Girl in a jacket">
        </div>
        <div class="col-md-10">
            <h2 class="color-h">{{_('Контакти')}}</h2>
            <p>м. Київ, вул. ГнатаХоткевича, 12, оф. 177</p>
            <p>ЄДРПОУ 43660399</p>
            <p>ukrslotgaming@gmail.com</p>
        </div>
    </div>
    <div class="row space-contacts">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <h4 class="color-h1">Максим Пилипенко</h4>
            <p>Генеральний менеджер</p>
            <p>+38 093 938 77 77</p>
        </div>
        <p></p>
        <div class="col-md-5">
            <h4 class="color-h1">Владислав Іваніков</h4>
            <p>Директор з розвитку</p>
            <p>+38 063 344 56 76</p>
        </div>
        </div>

</div>

{% endblock %}
