{% extends "layout.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='contacts.css') }}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row space-address">
        <div class="font_image">
            <img src="{{ url_for('static', filename='images/pattern9_text.png') }}" alt="CYBER SLOTS">
        </div>
        <div class="address-contacts-text">
            <h2 class="color-h">{{_('Контакти')}}</h2>
            <p>м. Київ, вул. ГнатаХоткевича, 12, оф. 177</p>
            <p>ЄДРПОУ 43660399</p>
            <p>ukrslotgaming@gmail.com</p>
        </div>
    </div>
    <div class="row space-address">
        <div class="select-block">
            <label for="select_location" class="select_label">{{ _('Виберіть локацію:') }}</label>
            <select id="select_location" class="select">
                <option value="all">{{ _('Усі') }}</option>
                <option value="Kyivska">{{ _('Київська') }}</option>
                <option value="Vinnytska">{{ _('Вінницька') }}</option>
                <option value="Odeska">{{ _('Одеська') }}</option>
                <option value="Poltavska">{{ _('Полтавська') }}</option>
                <option value="Rivnenska">{{ _('Рівненська') }}</option>
                <option value="Kharkivska">{{ _('Харківська') }}</option>
                <option value="Zaporizhska">{{ _('Запорізька') }}</option>
            </select>
        </div>
        <div class="scrollmenu-right">
            <div class="about-location">
                <div class="game-room-item-header">
                    <div>
                        <span class="game_room_text">{{ _('Ігровий зал:') }}</span>
                        <p class="title_game_room">{{ _('Cyber Slots Київ Sky Loft') }}</p>
                    </div>
                    <div>
                        <span class="game_room_opening">{{ _('Відкриття:') }}</span>
                        <p class="game_room_opening_text">{{ _('Незабаром') }}</p>
                    </div>
                </div>
                <div class="game_room_details">
                    <span class="game_room_text">{{ _('Адреса:') }}</span>
                    <p class="game_room_address_text">{{ _('Еспланадна 17, Київ, 01001, Україна') }}</p>
                    <span class="game_room_text">{{ _('Кількість ігрових автоматів:') }}</span>
                    <p class="game_room_count_device">{{ _('85') }}</p>
                </div>
            </div>
            <div class="about-location">
                <div class="game-room-item-header">
                    <div>
                        <span class="game_room_text">{{ _('Ігровий зал:') }}</span>
                        <p class="title_game_room">{{ _('Cyber Slots Київ Sky Loft') }}</p>
                    </div>
                    <div>
                        <span class="game_room_opening">{{ _('Відкриття:') }}</span>
                        <p class="game_room_opening_text">{{ _('Незабаром') }}</p>
                    </div>
                </div>
                <div class="game_room_details">
                    <span class="game_room_text">{{ _('Адреса:') }}</span>
                    <p class="game_room_address_text">{{ _('Еспланадна 17, Київ, 01001, Україна') }}</p>
                    <span class="game_room_text">{{ _('Кількість ігрових автоматів:') }}</span>
                    <p class="game_room_count_device">{{ _('85') }}</p>
                </div>
            </div>
            <div class="about-location">
                <div class="game-room-item-header">
                    <div>
                        <span class="game_room_text">{{ _('Ігровий зал:') }}</span>
                        <p class="title_game_room">{{ _('Cyber Slots Київ Sky Loft') }}</p>
                    </div>
                    <div>
                        <span class="game_room_opening">{{ _('Відкриття:') }}</span>
                        <p class="game_room_opening_text">{{ _('Незабаром') }}</p>
                    </div>
                </div>
                <div class="game_room_details">
                    <span class="game_room_text">{{ _('Адреса:') }}</span>
                    <p class="game_room_address_text">{{ _('Еспланадна 17, Київ, 01001, Україна') }}</p>
                    <span class="game_room_text">{{ _('Кількість ігрових автоматів:') }}</span>
                    <p class="game_room_count_device">{{ _('85') }}</p>
                </div>
            </div>
        </div>
        <div class="map-container" id="map"></div>
    </div>
</div>


<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKrZHO21HGVZhqF58TPQ4aQvFKi2dVvfA&callback=initMap&libraries=&v=weekly"
    async
></script>
{% endblock %}
