{% extends "layout.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='contacts.css') }}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row space-address">
        <div class="col-md-3 font_image">
            <img src="{{ url_for('static', filename='images/patt7_text_inside.png') }}" alt="Girl in a jacket">
        </div>
        <div class="col-md-9">
            <h2 class="color-h">{{_('Контакти')}}</h2>
            <p>м. Київ, вул. ГнатаХоткевича, 12, оф. 177</p>
            <p>ЄДРПОУ 43660399</p>
            <p>ukrslotgaming@gmail.com</p>
        </div>
    </div>


</div>

{% endblock %}
