{% extends "layout.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
<main role="main">
    <div class="container">
        <div class="row space-between-block ">
            <div class="col-md-3 block_font_image">
                 <img class="font_image " src="{{ url_for('static', filename='images/pattern2.png') }}" alt="CYBER SLOTS">
            </div>
            <div class="col-md-9 text-style-block">
                <h2 class="color-h1">{{ _('Азартні ігри майбутнього') }}</h2>                
                <details class="main-text">
                    <summary>Cyber Slots - оператор ігрових залів, який впроваджує новітні технології та надає
                    клієнтам якісні та безпечні послуги у сфері відпочинку.</summary>
                    <p>
                        Наша компетенція - створення технологічних локацій з людино-орієнтованим підходом.
                        Ми компанія, яка любить гру за емоції, які вона дарує людям. За азарт, свободу,
                        непердбачуваність, виграші та програші. Ми знаємо, що гра на гроші робить всі ці вудчуття
                        гостріше, але ми так само знаємо, що гра тільки заради грошей робить саму гру безглуздою.
                    </p>
                </details>
            </div>
        </div>
        <div class="row space-between-block ">
            <div class="col-md-3 block_font_image ">
                <img class="font_image" src="{{ url_for('static',
                                       filename='images/pattern3.png') }}"
                      alt="CYBER SLOTS">
            </div>
            <div class="col-md-9 text-style-block">
                <h2 class="color-h1">{{_('Гарні часи. Гарна гра.')}}</h2>
                <details class="main-text">
                    <summary>
                        {{_('Ми сповідуємо принцип Good Time — Good Game.') }}
                    </summary>
                    <p> {{ _('Це означає, що час, проведений в наших закладах, складеться в скарбничку приємних
                        вражень і зараховується до одного з типів задоволень.
                        Гра — це процес і будь-який результат є виграшним.') }}</p>
                </details>
            </div>
        </div>
        <div class="row space-between-block ">
            <div class="col-md-3 block_font_image">
               <img class="font_image" src="{{ url_for('static',
                                       filename='images/pattern5.png') }}"
                      alt="CYBER SLOTS">
            </div>
            <div class="col-md-9 text-style-block">
                <h2 class="color-h1">{{_('Відповідальність за гру')}}</h2>
                <details class="main-text">
                    <summary>
                        Бренд впроваджує принципи Responsible Gaming і просуває їх у своїй категорії.
                    </summary>
                    <p> Ми вважаємо,
                        що розслабитися і віддатися грі та фану можна тільки там, де відчуваєш себе в цілковитій
                        безпеці. Ми дотримуємося приватності гравців і надійно охороняємо їх персональні дані. Довгострокові
                        відносини з клієнтом — це наш пріоритет. Наші відносини будуються на довірі та
                        непорушних законах.</p>
                </details>
            </div>
        </div>

        <div class="row space-between-block ">
            <div class="col-md-3 block_font_image">
                <img class="font_image" src="{{ url_for('static',
                                       filename='images/pattern4.png') }}"
                      alt="CYBER SLOTS">
            </div>
            <div class="col-md-9 text-style-block text-style-last-block">
                <h2 class="color-h1">{{_('Цінності')}}</h2>
                <div class="row">
                    <div class="col-md-5">
                        <h4 class="h4-block-index">Свідомість</h4>
                        <details class="main-text-block">
                            <summary>
                                Ми просуваємо свідомий підхід до азартних ігор.
                            </summary>
                             <p>
                                У нас є кодекс правил, які пояснюють нашій людині на старті
                                як убезпечити себе і взяти максимум задоволення від процесу гри. Також ми
                                просуваємо принципи responsible gaming у всій категорії.
                            </p>
                        </details>
                    </div>
                    <div class="col-md-5">
                        <h4 class="h4-block-index">Інноваційність</h4>
                        <details class="main-text-block">
                            <summary>
                                Ми бажаємо дивувати та запам'ятовуватися.
                            </summary>
                            <p> Ми робимо game-change в категорії за рахунок технологічності, брендингу,
                            нестандартного маркетингу і точок контакту з нашою людиною.
                            Ми підтримуємо новаторство у всіх напрямках бізнесу.</p>
                        </details>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-5">
                        <h4 class="h4-block-index">Персоніфікація</h4>
                        <details class="main-text-block">
                            <summary>
                                Наш сервіс — це персоніфікація.
                            </summary>
                            <p>Ми хочемо зробити все найкраще для нашої людини та вибудовуємо довгострокові відносини
                                через системи лояльності та сучасні технологічні рішення.</p>
                        </details>
                    </div>
                    <div class="col-md-5">
                        <h4 class="h4-block-index">Безпека</h4>
                        <details class="main-text-block">
                            <summary>
                                Ми забезпечуємо конфіденційність на всіх рівнях
                            </summary>
                            <p>Ніколи не поширюємо інформацію про наших людей. Сучасні технології та експертні знання
                                дозволяють нам зробити це.</p>
                        </details>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div> <!-- /container -->

</main>

{% endblock %}
