<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>CYBER SLOTS</title>


    <!-- Bootstrap core CSS-->
    <link href="{{ url_for('static',
    filename='bootstrap-4.6.0-dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='casino_fonts.css') }}">

    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='casino_fonts_color.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__body">
                    <a class="header__logo" href="/">
                        <img src="{{ url_for('static', filename='images/logotype.png') }}" alt="CYBER SLOTS">
                    </a>
                    <div class="header__burger">
                        <span></span>
                    </div>
                    <nav class="header__menu">
                        <ul class="header__list">
                            <li>
                                <a class="header__link" href="{{ url_for('vacancy') }}">{{ _('Вакансії') }}</a>
                            </li>
                            <li>
                                <a class="header__link" href="{{ url_for('contacts') }}">{{ _('Контакти') }}</a>
                            </li>
                            <li>
                                <a class="header__link" href="{{ url_for('about') }}">{{ _('Про нас') }}</a>
                            </li>
                            <li>
                                <a class="header__link" href="{{ url_for('login') }}">{{_ ('Увійти')}}</a>
                            </li>
                            <li>
                                <a class="header__link" href="{{ url_for('register') }}">{{_('Реєстрація')}}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div> <!-- /container -->
        </header>
        <div class="content">
            <div class="container">
                <div class="content__text">

                </div>
                {% block content %}
                {% endblock %}
            </div>
            <div class="aside-bar">
            </div>
        </div>
    </div>




    <footer class="container footer">
        <p>&copy; Cyber Slots 2021-2022</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js') }}"></script>

</body>
</html>
