{% extends "layout.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vacancy.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <p class="vacancy_text_title">Cyber Slots дозволяє гравцям випробувати весь спектр емоцій, які може запропонувати
        сама гра, де гра – це
        процес і будь – який результат є виграшним.</p>
    <div class="row">
        <div class="col-md-3 block_font_image">
            <img class="font_image" src="{{ url_for('static', filename='images/pattern1.png') }}" alt="CYBER SLOTS">
        </div>
        <div class="col-md-9 vacancy-block">
            <h3 class="color-h1">{{ _('Адміністратор') }}</h3>
            <p class="text_font_vacancy_start">{{ _('Довгострокові відносини – це наш пріоритет, ми будуємо їх на довірі та непорушних законах, та
                пропонуємо Вам працювати з нами  там, де азарт, фанова атмосфера, справжні емоції, драйв, сучасні
                технології, абсолютно новий підхід до гри на новому обладнанні, в нових Cyber залах ігрових Slots.')
            }}</p>
            <p class="link-details">{{ _('Детальніше')}}</p>
            <div class="vacancy-details-block">
                <p class="color-white">{{ _('Ви:') }}</p>
                <ul class="vacancy-marker-list">
                    <li>{{ _('маєте досвід у зустрічі та  обслуговуванні гостей, досвід роботи з персоналом;') }}</li>
                    <li>{{ _('розумієте, що таке сервіс преміум классу, створення та підтримка доброзичливої , приємної
                        атмосфери та стандартів гостинності, маєте презентабельну зовнішність;') }}</li>
                    <li>{{ _('володієте відмінними комунікативними навичками (російська \ англійська мови бажано) та
                        готові відповідати ексклюзивному рівню закладу;') }}</li>
                    <li>{{ _('готові працювати в змінному графіку;') }}</li>
                    <li>{{ _('хочете отримувати  конкурентну зарплату та  регулярні бонуси.') }}</li>
                </ul>
                <p class="color-white">{{ _('Ми:') }}</p>
                <ul class="vacancy-marker-list">
                    <li>{{ _('пропонуємо  конкурентну  зарплату + бонуси;') }}</li>
                    <li>{{ _('пропонуємо оплачуване  навчання успішним кандидатам  та  перспективу подальшого  розвитку;') }}</li>
                    <li>{{ _('маємо власну корпоративну культуру та готові  постійно навчати та мотивувати свою команду.') }}</li>
                </ul>
                <p class="text_vacancy_future">{{ _('ЗРОБИ СТАВКУ НА  СВОЕ МАЙБУТНЕ РАЗОМ з Cyber Slots!') }}</p>
                <p class="order-font">
                    <a class="order-font"
                       target="_blank" href="https://docs.google.com/document/d/1AdJy_nSQFp57E1nBUyEQepF9zq2NbFc4C0xxCmWlegE/edit?usp=sharing">{{ _('Заповнити заявку') }}</a>
                </p>
            </div>
            <p class="vacancy-details-block">{{ _('Закрити')}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 block_font_image">
            <img class="font_image" src="{{ url_for('static', filename='images/pattern2.png') }}" alt="CYBER SLOTS">
        </div>
        <div class="col-md-9 vacancy-block">
            <h3 class="color-h1">{{ _('Бармен') }}</h3>
            <p class="text_font_vacancy_start">{{ _('Довгострокові відносини – це наш пріоритет, ми будуємо їх на довірі та непорушних законах, та
                пропонуємо Вам працювати з нами  там, де азарт, фанова атмосфера, справжні емоції, драйв, сучасні
                технології, абсолютно новий підхід до гри на новому обладнанні, в нових Cyber залах ігрових Slots.')
            }}</p>
            <p class="link-details">{{ _('Детальніше')}}</p>
            <div class="vacancy-details-block ">
                <p class="color-white">{{ _('Ви:') }}</p>
                <ul class="vacancy-marker-list">
                    <li>{{ _('маєте досвід обслуговування гостей за барною стійкою, маєте презентабельну
                        зовнішність;') }}</li>
                    <li>{{ _('розумієте, що таке дотримуватись стандартів сервісу  обслуговування та гостинності,
                        створення та підтримка доброзичливої , приємної атмосфери;') }}</li>
                    <li>{{ _('володієте відмінними комунікативними навичками(російська \ англійська мови бажано) та
                        готові відповідати ексклюзивному рівню закладу;') }}</li>
                    <li>{{ _('готові працювати в змінному графіку;') }}</li>
                    <li>{{ _('хочете отримувати  конкурентну зарплату та  регулярні бонуси.') }}</li>
                </ul>
                <p class="color-white">{{ _('Ми:') }}</p>
                <ul class="vacancy-marker-list">
                    <li>{{ _('пропонуємо  конкурентну  зарплату +бонуси;') }}</li>
                    <li>{{ _('пропонуємо оплачуване  навчання успішним кандидатам  та  перспективу подальшого  розвитку;') }}</li>
                    <li>{{ _('маємо власну корпоративну культуру та готові  постійно навчати та мотивувати свою команду.') }}</li>
                </ul>
                <p class="text_vacancy_future">{{ _('ЗРОБИ СТАВКУ НА  СВОЕ МАЙБУТНЕ РАЗОМ з Cyber Slots!') }}</p>
                <p class="order-font">
                    <a class="order-font" target="_blank" href="https://docs.google.com/document/d/1AdJy_nSQFp57E1nBUyEQepF9zq2NbFc4C0xxCmWlegE/edit?usp=sharing">{{ _('Заповнити заявку') }}</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 block_font_image">
            <img class="font_image" src="{{ url_for('static', filename='images/pattern3.png') }}" alt="CYBER SLOTS">
        </div>
        <div class="col-md-9 vacancy-block">
            <h3 class="color-h1">{{ _('Касир') }}</h3>
            <p class="text_font_vacancy_start">{{ _('Довгострокові відносини – це наш пріоритет, ми будуємо їх на довірі та непорушних законах, та
                пропонуємо Вам працювати з нами  там, де азарт, фанова атмосфера, справжні емоції, драйв, сучасні
                технології, абсолютно новий підхід до гри на новому обладнанні, в нових Cyber залах ігрових Slots.')
            }}</p>
            <p class="link-details">{{ _('Детальніше')}}</p>
            <div class="vacancy-details-block ">
                <p class="color-white">{{ _('Ви:') }}</p>
                <ul class="vacancy-marker-list">
                    <li>{{ _('маєте досвід касової дисципліни,  роботи з готівкою та безготівковими розрахунками;')
                        }}</li>
                    <li>{{ _('навички роботи з великим об’ємом інформації;') }}</li>
                    <li>{{ _('готові працювати в змінному графіку;') }}</li>
                    <li>{{ _('дисциплінованість,відповідальність, бажання і здатність до навчання;') }}</li>
                    <li>{{ _('хочете отримувати  конкурентну зарплату та  регулярні бонуси.') }}</li>
                </ul>
                <p class="color-white">{{ _('Ми:') }}</p>
                <ul class="vacancy-marker-list">
                    <li>{{ _('пропонуємо  конкурентну  зарплату + бонуси;') }}</li>
                    <li>{{ _('отримання всіх необхідних навичок для роботи в період стажування  та  перспективу
                        подальшого  розвитку;') }}</li>
                    <li>{{ _('маємо власну корпоративну культуру та готові  постійно навчати та мотивувати свою команду.') }}</li>
                </ul>
                <p class="text_vacancy_future">{{ _('ЗРОБИ СТАВКУ НА  СВОЕ МАЙБУТНЕ РАЗОМ з Cyber Slots!') }}</p>
                <p class="order-font">
                    <a class="order-font" target="_blank" href="https://docs.google.com/document/d/1AdJy_nSQFp57E1nBUyEQepF9zq2NbFc4C0xxCmWlegE/edit?usp=sharing">{{ _('Заповнити заявку') }}</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 block_font_image">
            <img class="font_image" src="{{ url_for('static', filename='images/pattern4.png') }}" alt="CYBER SLOTS">
        </div>
        <div class="col-md-9 vacancy-block">
            <h3 class="color-h1">{{ _('Оператор') }}</h3>
            <p class="text_font_vacancy_start">{{ _('Довгострокові відносини – це наш пріоритет, ми будуємо їх на довірі та непорушних законах, та
                пропонуємо Вам працювати з нами  там, де азарт, фанова атмосфера, справжні емоції, драйв, сучасні
                технології, абсолютно новий підхід до гри на новому обладнанні, в нових Cyber залах ігрових Slots.')
            }}</p>
            <p class="link-details">{{ _('Детальніше')}}</p>
            <div class="vacancy-details-block ">
                <p class="color-white">{{ _('Ви:') }}</p>
                <ul class="vacancy-marker-list">
                    <li>{{ _('маєте досвід в обслуговуванні клієнтів, розумієте, що таке сервіс преміум классу,
                        створення та підтримка доброзичливої , приємної атмосфери та стандартів гостинності,
                        маєте презентабельну зовнішність;')
                        }}</li>
                    <li>{{ _('володієте відмінними комунікативними навичками(російська \ англійська мови бажано) та
                        готові відповідати ексклюзивному рівню закладу; ') }}</li>
                    <li>{{ _('готові працювати в змінному графіку;') }}</li>
                    <li>{{ _('хочете отримувати  конкурентну зарплату та  регулярні бонуси.') }}</li>
                </ul>
                <p class="color-white">{{ _('Ми:') }}</p>
                <ul class="vacancy-marker-list">
                    <li>{{ _('пропонуємо  конкурентну  зарплату + бонуси;') }}</li>
                    <li>{{ _('пропонуємо оплачуване  навчання успішним кандидатам  та  перспективу подальшого  розвитку;') }}</li>
                    <li>{{ _('маємо власну корпоративну культуру та готові  постійно навчати та мотивувати свою команду.') }}</li>
                </ul>
                <p class="text_vacancy_future">{{ _('ЗРОБИ СТАВКУ НА  СВОЕ МАЙБУТНЕ РАЗОМ з Cyber Slots!') }}</p>
                <p class="order-font">
                    <a class="order-font" target="_blank" href="https://docs.google.com/document/d/1AdJy_nSQFp57E1nBUyEQepF9zq2NbFc4C0xxCmWlegE/edit?usp=sharing">{{ _('Заповнити заявку') }}</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 block_font_image">
            <img class="font_image" src="{{ url_for('static', filename='images/pattern5.png') }}" alt="CYBER SLOTS">
        </div>
        <div class="col-md-9 vacancy-block">
            <h3 class="color-h1">{{ _('Хостес') }}</h3>
            <p class="text_font_vacancy_start">{{ _('Довгострокові відносини – це наш пріоритет, ми будуємо їх на довірі та непорушних законах, та
                пропонуємо Вам працювати з нами  там, де азарт, фанова атмосфера, справжні емоції, драйв, сучасні
                технології, абсолютно новий підхід до гри на новому обладнанні, в нових Cyber залах ігрових Slots.')
            }}</p>
            <p class="link-details">{{ _('Детальніше')}}</p>
            <div class="vacancy-details-block ">
                <p class="color-white">{{ _('Ви:') }}</p>
                <ul class="vacancy-marker-list">
                    <li>{{ _('маєте досвід зустрічі  гостей, розумієте, що таке сервіс преміум классу, створення та
                        підтримка доброзичливої, приємної атмосфери та стандартів гостинності, маєте презентабельну
                        зовнішність;')
                        }}</li>
                    <li>{{ _('володієте відмінними комунікативними навичками(російська \ англійська мови бажано) та
                        готові відповідати ексклюзивному рівню закладу; ') }}</li>
                    <li>{{ _('готові працювати в змінному графіку;') }}</li>
                    <li>{{ _('хочете отримувати  стабільну зарплату та  регулярні бонуси.') }}</li>
                </ul>
                <p class="color-white">{{ _('Ми:') }}</p>
                <ul class="vacancy-marker-list">
                    <li>{{ _('пропонуємо  стабільну  зарплату + бонуси;') }}</li>
                    <li>{{ _('пропонуємо оплачуване  навчання успішним кандидатам  та  перспективу подальшого  розвитку;') }}</li>
                    <li>{{ _('маємо власну корпоративну культуру та готові  постійно навчати та мотивувати свою команду.') }}</li>
                </ul>
                <p class="text_vacancy_future">{{ _('ЗРОБИ СТАВКУ НА  СВОЕ МАЙБУТНЕ РАЗОМ з Cyber Slots!') }}</p>
                <p class="order-font">
                    <a class="order-font" target="_blank" href="https://docs.google.com/document/d/1AdJy_nSQFp57E1nBUyEQepF9zq2NbFc4C0xxCmWlegE/edit?usp=sharing">{{ _('Заповнити заявку') }}</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
