{% extends "layout.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vacancy.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <p class="vacancy_text_title">{{ _('Cyber Slots дозволяє гравцям випробувати весь спектр емоцій, які може запропонувати
        сама гра, де гра – це процес і будь – який результат є виграшним.') }}</p>
    <b></b>
    <p class="vacancy_text_title">{{ _('Довгострокові відносини – це наш пріоритет, ми будуємо їх на довірі та непорушних законах, та
                пропонуємо Вам працювати з нами там, де азарт, фанова атмосфера, справжні емоції, драйв, сучасні
                технології, абсолютно новий підхід до гри на новому обладнанні, в нових ігрових залах Cyber Slots.')
            }}</p>
    <div class="row">
        <div class="col-md-3 block_font_image">
            <img class="font_image" src="{{ url_for('static', filename='images/pattern1.png') }}" alt="CYBER SLOTS">
        </div>
        <div class="col-md-9 vacancy-block">
            <h3 class="color-h1">{{ _('Адміністратор') }}</h3>
            <p class="text_font_vacancy_start">{{ _('Ми про задоволення від процесу гри, а не тільки про виграш та розкішне 
                життя. Сучасний прогрес позбавив людину чогось важливого – відчуття ризику, азарту та можливості відчути 
                притік адреналіну. Ми надаємо можливість легітимному виходу емоцій за межі повсякденної рутини та порядку.')
            }}</p>
            <p class="link-details">{{ _('Детальніше')}}</p>
            <div class="vacancy-details-block">
                <p class="color-white">{{ _('Ви:') }}</p>
                <ul class="vacancy-marker-list">
                    <li>{{ _('маєте досвід у зустрічі та  обслуговуванні гостей, досвід роботи з персоналом;') }}</li>
                    <li>{{ _('розумієте, що таке сервіс преміум классу, створення та підтримка доброзичливої , приємної
                        атмосфери та стандартів гостинності, маєте презентабельну зовнішність;') }}</li>
                    <li>{{ _('володієте відмінними комунікативними навичками (російська \ англійська мови бажано) та
                        готові відповідати ексклюзивному рівню закладу;') }}</li>
                    <li>{{ _('готові працювати в змінному графіку;') }}</li>
                    <li>{{ _('хочете отримувати  конкурентну зарплату та  регулярні бонуси.') }}</li>
                </ul>
                <p class="color-white">{{ _('Ми:') }}</p>
                <ul class="vacancy-marker-list">
                    <li>{{ _('пропонуємо  конкурентну  зарплату + бонуси;') }}</li>
                    <li>{{ _('пропонуємо оплачуване  навчання успішним кандидатам  та  перспективу подальшого  розвитку;') }}</li>
                    <li>{{ _('маємо власну корпоративну культуру та готові  постійно навчати та мотивувати свою команду.') }}</li>
                </ul>
                <p class="text_vacancy_future">{{ _('ЗРОБИ СТАВКУ НА СВОЄ МАЙБУТНЄ РАЗОМ з ') }} 
                    <span class="vacancy_cyber_slot_text"> Cyber Slots!</span>
                </p>
                <p class="order-font">
                    <a class="order-font" target="_blank" href="https://docs.google.com/document/d/1AdJy_nSQFp57E1nBUyEQepF9zq2NbFc4C0xxCmWlegE/edit?usp=sharing">
                        {{ _('Заповнити анкету') }}
                    </a>
                </p>
            </div>
            <p class="vacancy-details-block">{{ _('Закрити')}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 block_font_image">
            <img class="font_image" src="{{ url_for('static', filename='images/pattern2.png') }}" alt="CYBER SLOTS">
        </div>
        <div class="col-md-9 vacancy-block">
            <h3 class="color-h1">{{ _('Бармен') }}</h3>
            <p class="text_font_vacancy_start">{{ _('Ми любимо гру за емоції, які вона дарує людям. За можливість покричати, 
                пережити, обійняти сусіда в пориві радості або високо підняти келих та дзвінко вдарити бокалом ігристого 
                в момент вибуху емоцій.')
            }}</p>
            <p class="link-details">{{ _('Детальніше')}}</p>
            <div class="vacancy-details-block ">
                <p class="color-white">{{ _('Ви:') }}</p>
                <ul class="vacancy-marker-list">
                    <li>{{ _('маєте досвід обслуговування гостей за барною стійкою, маєте презентабельну
                        зовнішність;') }}</li>
                    <li>{{ _('розумієте, що таке дотримуватись стандартів сервісу  обслуговування та гостинності,
                        створення та підтримка доброзичливої , приємної атмосфери;') }}</li>
                    <li>{{ _('володієте відмінними комунікативними навичками(російська \ англійська мови бажано) та
                        готові відповідати ексклюзивному рівню закладу;') }}</li>
                    <li>{{ _('готові працювати в змінному графіку;') }}</li>
                    <li>{{ _('хочете отримувати  конкурентну зарплату та  регулярні бонуси.') }}</li>
                </ul>
                <p class="color-white">{{ _('Ми:') }}</p>
                <ul class="vacancy-marker-list">
                    <li>{{ _('пропонуємо  конкурентну  зарплату +бонуси;') }}</li>
                    <li>{{ _('пропонуємо оплачуване  навчання успішним кандидатам  та  перспективу подальшого  розвитку;') }}</li>
                    <li>{{ _('маємо власну корпоративну культуру та готові  постійно навчати та мотивувати свою команду.') }}</li>
                </ul>
                <p class="text_vacancy_future">{{ _('ЗРОБИ СТАВКУ НА СВОЄ МАЙБУТНЄ РАЗОМ з ') }} 
                    <span class="vacancy_cyber_slot_text"> Cyber Slots!</span>
                </p>
                <p class="order-font">
                    <a class="order-font" target="_blank" href="https://docs.google.com/document/d/1AdJy_nSQFp57E1nBUyEQepF9zq2NbFc4C0xxCmWlegE/edit?usp=sharing">
                        {{ _('Заповнити анкету') }}
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 block_font_image">
            <img class="font_image" src="{{ url_for('static', filename='images/pattern3.png') }}" alt="CYBER SLOTS">
        </div>
        <div class="col-md-9 vacancy-block">
            <h3 class="color-h1">{{ _('Касир') }}</h3>
            <p class="text_font_vacancy_start">{{ _('Ми вважаємо, що розслабитися і віддатися грі та фану можна тільки там,
                де відчуваєш себе у цілковитій безпеці. Ми дотримуємося приватності гравців і надійно охороняємо їх персональні дані. 
                Сучасні технології та експертні знання дозволяють зробити нам це.')
            }}</p>
            <p class="link-details">{{ _('Детальніше')}}</p>
            <div class="vacancy-details-block ">
                <p class="color-white">{{ _('Ви:') }}</p>
                <ul class="vacancy-marker-list">
                    <li>{{ _('маєте досвід касової дисципліни,  роботи з готівкою та безготівковими розрахунками;')
                        }}</li>
                    <li>{{ _('навички роботи з великим об’ємом інформації;') }}</li>
                    <li>{{ _('готові працювати в змінному графіку;') }}</li>
                    <li>{{ _('дисциплінованість, відповідальність, бажання і здатність до навчання;') }}</li>
                    <li>{{ _('хочете отримувати конкурентну зарплату та регулярні бонуси.') }}</li>
                </ul>
                <p class="color-white">{{ _('Ми:') }}</p>
                <ul class="vacancy-marker-list">
                    <li>{{ _('пропонуємо  конкурентну  зарплату + бонуси;') }}</li>
                    <li>{{ _('отримання всіх необхідних навичок для роботи в період стажування  та  перспективу
                        подальшого  розвитку;') }}</li>
                    <li>{{ _('маємо власну корпоративну культуру та готові  постійно навчати та мотивувати свою команду.') }}</li>
                </ul>
                <p class="text_vacancy_future">{{ _('ЗРОБИ СТАВКУ НА СВОЄ МАЙБУТНЄ РАЗОМ з ') }} 
                    <span class="vacancy_cyber_slot_text"> Cyber Slots!</span>
                </p>
                <p class="order-font">
                    <a class="order-font" target="_blank" href="https://docs.google.com/document/d/1AdJy_nSQFp57E1nBUyEQepF9zq2NbFc4C0xxCmWlegE/edit?usp=sharing">
                        {{ _('Заповнити анкету') }}
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 block_font_image">
            <img class="font_image" src="{{ url_for('static', filename='images/pattern4.png') }}" alt="CYBER SLOTS">
        </div>
        <div class="col-md-9 vacancy-block">
            <h3 class="color-h1">{{ _('Оператор') }}</h3>
            <p class="text_font_vacancy_start">{{ _('Наш сервіс – це персоніфікація, індивідуальний підхід. Ми хочемо 
                зробити все найкраще для нашого гостя та вибудовуємо довгострокові відносини через системи лояльності 
                та сучасні технологічні рішення. Ми бажаємо дивувати та запам’ятовуватись. Cyber Slots - це азартні ігри 
                майбутнього!')
            }}</p>
            <p class="link-details">{{ _('Детальніше')}}</p>
            <div class="vacancy-details-block ">
                <p class="color-white">{{ _('Ви:') }}</p>
                <ul class="vacancy-marker-list">
                    <li>{{ _('маєте досвід в обслуговуванні клієнтів, розумієте, що таке сервіс преміум классу,
                        створення та підтримка доброзичливої , приємної атмосфери та стандартів гостинності,
                        маєте презентабельну зовнішність;')
                        }}</li>
                    <li>{{ _('володієте відмінними комунікативними навичками(російська \ англійська мови бажано) та
                        готові відповідати ексклюзивному рівню закладу; ') }}</li>
                    <li>{{ _('готові працювати в змінному графіку;') }}</li>
                    <li>{{ _('хочете отримувати  конкурентну зарплату та  регулярні бонуси.') }}</li>
                </ul>
                <p class="color-white">{{ _('Ми:') }}</p>
                <ul class="vacancy-marker-list">
                    <li>{{ _('пропонуємо  конкурентну  зарплату + бонуси;') }}</li>
                    <li>{{ _('пропонуємо оплачуване  навчання успішним кандидатам  та  перспективу подальшого  розвитку;') }}</li>
                    <li>{{ _('маємо власну корпоративну культуру та готові  постійно навчати та мотивувати свою команду.') }}</li>
                </ul>
                <p class="text_vacancy_future">{{ _('ЗРОБИ СТАВКУ НА СВОЄ МАЙБУТНЄ РАЗОМ з ') }} 
                    <span class="vacancy_cyber_slot_text"> Cyber Slots!</span>
                </p>
                <p class="order-font">
                    <a class="order-font" target="_blank" href="https://docs.google.com/document/d/1AdJy_nSQFp57E1nBUyEQepF9zq2NbFc4C0xxCmWlegE/edit?usp=sharing">
                        {{ _('Заповнити анкету') }}
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 block_font_image">
            <img class="font_image" src="{{ url_for('static', filename='images/pattern5.png') }}" alt="CYBER SLOTS">
        </div>
        <div class="col-md-9 vacancy-block text-style-last-block">
            <h3 class="color-h1">{{ _('Хостес') }}</h3>
            <p class="text_font_vacancy_start">{{ _('Ми просуваємо свідомий підхід до азартних ігор. 
                Убезпечуємо нашого гостя на старті, щоб взяти максимум задоволення від процесу гри.')
            }}</p>
            <p class="link-details">{{ _('Детальніше')}}</p>
            <div class="vacancy-details-block ">
                <p class="color-white">{{ _('Ви:') }}</p>
                <ul class="vacancy-marker-list">
                    <li>{{ _('маєте досвід зустрічі  гостей, розумієте, що таке сервіс преміум классу, створення та
                        підтримка доброзичливої, приємної атмосфери та стандартів гостинності, маєте презентабельну
                        зовнішність;')
                        }}</li>
                    <li>{{ _('володієте відмінними комунікативними навичками(російська \ англійська мови бажано) та
                        готові відповідати ексклюзивному рівню закладу; ') }}</li>
                    <li>{{ _('готові працювати в змінному графіку;') }}</li>
                    <li>{{ _('хочете отримувати  стабільну зарплату та  регулярні бонуси.') }}</li>
                </ul>
                <p class="color-white">{{ _('Ми:') }}</p>
                <ul class="vacancy-marker-list">
                    <li>{{ _('пропонуємо  стабільну  зарплату + бонуси;') }}</li>
                    <li>{{ _('пропонуємо оплачуване  навчання успішним кандидатам  та  перспективу подальшого  розвитку;') }}</li>
                    <li>{{ _('маємо власну корпоративну культуру та готові  постійно навчати та мотивувати свою команду.') }}</li>
                </ul>
                <p class="text_vacancy_future">{{ _('ЗРОБИ СТАВКУ НА СВОЄ МАЙБУТНЄ РАЗОМ з ') }} 
                    <span class="vacancy_cyber_slot_text"> Cyber Slots!</span>
                </p>
                <p class="order-font">
                    <a class="order-font" target="_blank" href="https://docs.google.com/document/d/1AdJy_nSQFp57E1nBUyEQepF9zq2NbFc4C0xxCmWlegE/edit?usp=sharing">
                        {{ _('Заповнити анкету') }}
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
